.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
## directories to be ignored ##
gen/
bin/
.settings/
.apt_generated/

## type of files to be ignored ##
*~
R.java
project.properties
.DS_STORE
.factorypath


target/
".gitignore" 43L, 485C

target/
*.iml
*.ipr
*.iws
*.log
*.class
.idea/
.gradle
build/
*.orig
local.properties
gradle.properties
gradlew
gradlew.bat
gradle/*
.idea
*.bat
*.rar
*.apk
app/src/prod/res/values/server.xml
app/src/develop/res/values/server.xml
~
*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
## directories to be ignored ##
gen/
bin/
.settings/
.apt_generated/

## type of files to be ignored ##
*~
R.java
project.properties
.DS_STORE
.factorypath


target/
